<?xml version="1.0"?>
<data>

	<settings>
		<author>Gregori Fabre</author>
		<output>output</output>
		<localoutput>/Users/greg/Downloads/output</localoutput>
		<pitch>Fil d'info en continu sur le #digital par Gregori Fabre (@fabre_gregori) Digital Advisor Total EP #Innovation #TransfoNum #Greentech #Startup</pitch>
		<User-Agent>'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'</User-Agent>
		<feed_json_file>feed</feed_json_file>
		<feed_atom_file>feed_atom.xml</feed_atom_file>
		<feed_name>Veille</feed_name>
		<feed_url>http://www.iero.org/feed/newscrunch</feed_url>
		<max_news>500</max_news>
		<max_news_rss>100</max_news_rss>
	</settings>

	<!-- French Digital -->

	<service name="Presse Citron" lang="fr">
		<url>http://www.presse-citron.net/feed/</url>
		<text type="div" name="class" section="p">post-content description</text>
		<image type="div" name="class" section="img" attribute="src">post-content description</image>
		<tags type="div" name="class" section="a">tagcloud</tags>
		<twitter_account>@pressecitron</twitter_account>
		<twitter_mention>#pcitron</twitter_mention>
		<sanitize>
			<remove type="title">\[.*?\] </remove>
		</sanitize>
	</service>

	<service name="Journal du Net #smartcities" lang="fr">
		<url>http://www.journaldunet.com/smart-city/rss/</url>
		<text type="div" name="class" section="p">entry</text>
		<image type="p" name="class" section="a" attribute="href">app_entry_lead</image>
		<twitter_account>@journaldunet</twitter_account>
		<twitter_mention>#jdn</twitter_mention>
		<sanitize>
			<remove type="title">\[.*?\] </remove>
		</sanitize>
		<hashtags>
			<tag>smartcity</tag>
		</hashtags>
	</service>
	<service name="Journal du Net #iot" lang="fr">
		<url>http://www.journaldunet.com/iot/rss/</url>
		<text type="div" name="class" section="p">entry</text>
		<image type="p" name="class" section="a" attribute="href">app_entry_lead</image>
		<twitter_account>@journaldunet</twitter_account>
		<twitter_mention>#jdn</twitter_mention>
		<sanitize>
			<remove type="title">\[.*?\] </remove>
		</sanitize>
		<hashtags>
			<tag>iot</tag>
		</hashtags>
	</service>
	<service name="Journal du Net #rh" lang="fr">
		<url>http://www.journaldunet.com/e-rh/rss/</url>
		<twitter_account>@journaldunet</twitter_account>
		<text type="div" name="class" section="p">entry</text>
		<image type="p" name="class" section="a" attribute="href">app_entry_lead</image>
		<twitter_account>@journaldunet</twitter_account>
		<twitter_mention>#jdn</twitter_mention>
		<sanitize>
			<remove type="title">\[.*?\] </remove>
		</sanitize>
		<hashtags>
			<tag>rh</tag>
		</hashtags>
	</service>
	<service name="Journal du Net #cloud" lang="fr">
		<url>http://www.journaldunet.com/cloud-computing/rss/</url>
		<twitter_account>@journaldunet</twitter_account>
		<twitter_mention>#jdn</twitter_mention>
		<text type="div" name="class" section="p">entry</text>
		<image type="p" name="class" section="a" attribute="href">app_entry_lead</image>
		<sanitize>
			<remove type="title">\[.*?\] </remove>
		</sanitize>
		<hashtags>
			<tag>cloud</tag>
		</hashtags>
	</service>
	<service name="Journal du Net #bigdata" lang="fr">
		<url>http://www.journaldunet.com/big-data/rss/</url>
		<twitter_account>@journaldunet</twitter_account>
		<twitter_mention>#jdn</twitter_mention>
		<text type="div" name="class" section="p">entry</text>
		<image type="p" name="class" section="a" attribute="href">app_entry_lead</image>
		<sanitize>
			<remove type="title">\[.*?\] </remove>
		</sanitize>
	</service>
	<service name="MacGeneration" lang="fr">
		<url>http://megaflux.macg.co/</url>
		<twitter_account>@MacGeneration</twitter_account>
		<twitter_mention>#macg</twitter_mention>
		<text type="div" name="class" section="p">field-item even</text>
		<image type="div" name="class" section="img" attribute="src">field-item even</image>
		<!--image_alt type="div" name="class" section="img" attribute="src">field-item even</image_alt-->
		<filters>
			<filter type="title">refurb</filter>
			<filter type="title">concours</filter>
			<filter type="title">forums</filter>
			<filter type="title">iconcept</filter>
			<filter type="title">promo</filter>
			<filter type="title">partenaire</filter>
			<filter type="title">livre</filter>
			<filter type="section" section="h2">Promo</filter>
		</filters>
	</service>

	<service name="Siecle Digital" lang="fr">
		<url>https://siecledigital.fr/feed/</url>
		<twitter_account>@siecledigital</twitter_account>
		<twitter_mention>#digital</twitter_mention>
		<text type="div" name="class" section="p">post-content description </text>
		<image type="div" name="class" section="a" attribute="href">featured</image>
		<sanitize>
			<remove type="title">\[One.*?\]</remove>
		</sanitize>
	</service>

	<service name="Sciences et Avenir" lang="fr">
		<url>https://www.sciencesetavenir.fr/high-tech/rss.xml</url>
		<twitter_account>@science_avenir</twitter_account>
		<twitter_mention>#science</twitter_mention>
		<text type="div" name="class" section="p">corps article-sea-home-a article-sea-hightech-a</text>
		<image type="div" name="class" section="img" attribute="data-src">article-image</image>
	</service>

	<service name="Itespresso" lang="fr">
		<url>http://www.itespresso.fr/feed</url>
		<twitter_account>@itespressofr</twitter_account>
		<twitter_mention>#itespresso</twitter_mention>
		<text type="div" name="class" section="p">entry-excerpt</text>
		<image type="div" name="class" section="img" attribute="src">imageTitleWrapper</image>
		<tags type="div" name="class" section="a">entry-breadcrumb</tags>
	</service>

	<service name="Korben" lang="fr">
		<url>http://korben.info/feed</url>
		<twitter_account>@korben</twitter_account>
		<twitter_mention>#korben</twitter_mention>
		<text type="div" name="class" section="p">post-content</text>
		<image type="div" name="class" section="img" attribute="src">post-thumbnail</image>
	</service>

	<service name="Nouvel Obs" lang="fr">
		<url>http://o.nouvelobs.com/high-tech/rss.xml</url>
		<twitter_account>@lobs</twitter_account>
		<twitter_mention>#obs</twitter_mention>
		<text type="div" name="class" section="p">o-article-body</text>
		<image type="div" name="class" section="img" attribute="src">o-article-body</image>
	</service>

	<service name="Les echos business" lang="fr">
		<url>https://business.lesechos.fr/rss/dn.xml</url>
		<twitter_account>@EchosBusiness</twitter_account>
		<twitter_mention>#echos</twitter_mention>
		<text type="div" name="class" section="p">main-content content-article</text>
		<image type="div" name="class" section="img" attribute="srcset">picture-article</image>
	</service>

	<service name="Maddyness" lang="fr">
		<url>https://www.maddyness.com/feed/</url>
		<twitter_account>@bymaddyness</twitter_account>
		<twitter_mention>#maddyness</twitter_mention>
		<text type="div" name="class" section="p">inherit-color-parent article-content col-md-8</text>
		<image type="div" name="class" section="source" attribute="srcset">article-image-wrapper</image>
		<filters>
			<filter type="title">#mcal</filter>
			<filter type="title">5 offres d'emploi</filter>
		</filters>
		<sanitize>
			<remove type="title">#.*?:</remove>
		</sanitize>
	</service>

	<service name="Usine Digitale" lang="fr">
		<url>http://www.usine-digitale.fr/rss</url>
		<twitter_account>@LUsineDigitale</twitter_account>
		<twitter_mention>#usine #digital</twitter_mention>
		<text type="div" name="class" section="p">blocTexteType1</text>
		<image type="figure" name="class" section="img" attribute="src">blocImageType2</image>
		<filters>
			<filter type="title">quoi de neuf</filter>
		</filters>
		<sanitize>
			<remove type="title"> \[.*?\]</remove>
			<remove type="title">\[.*?\]</remove>
		</sanitize>
	</service>

	<service name="Blog du Moderateur" lang="fr">
		<url>http://feeds.feedburner.com/captainjob</url>
		<twitter_account>@BlogModerateur</twitter_account>
		<twitter_mention>#blogmod</twitter_mention>
		<text type="div" name="class" section="p">entry-content</text>
		<image type="div" name="class" section="img" attribute="data-lazy-original">entry-content</image>
		<filters>
			<filter type="title">offres</filter>
			<filter type="title">5 évenements</filter>
			<filter type="title">L'agenda de</filter>
			<filter type="title">top 5</filter>
		</filters>
		<sanitize>
			<remove type="title"> \(.*?\)</remove>
			<remove type="title">Interview : </remove>
		</sanitize>
	</service>

	<service name="Les echos #hightech" lang="fr">
		<url type="html">https://www.lesechos.fr/tech-medias/hightech/index.php</url>
		<twitter_account>@LesEchos</twitter_account>
		<twitter_mention>#echos</twitter_mention>
		<page_url type="div" name="class" section="a">main-content content-ssrub</page_url>
		<text type="div" name="class" section="p">main-content content-article</text>
		<image type="div" name="class" section="img" attribute="srcset">picture-article</image>
		<selection>
			<select type="url">https://www.lesechos.fr/tech-medias/hightech</select>
		</selection>
	</service>

	<service name="Frenchweb" lang="fr">
		<url type="rss">http://feeds.feedburner.com/frenchweb</url>
		<twitter_account>@</twitter_account>
		<twitter_mention>#frenchweb</twitter_mention>
		<text type="div" name="class" section="p">page-content</text>
		<image type="div" name="class" section="img" attribute="src">page-featured-image</image>
		<!-- add tag support -->
		<tags type="div" name="class" section="a">categories</tags>
		<filters>
			<filter type="class" name="subtitle" section="h2">partenariat</filter>
			<filter type="title">offres</filter>
			<filter type="title">sen#7</filter>
			<filter type="title">[insiders]</filter>
			<filter type="title">[emploi]</filter>
			<filter type="title">[numbers]</filter>
			<filter type="title">de la semaine</filter>
			<filter type="title">ne fallait pas manquer</filter>
		</filters>
		<sanitize>
			<remove type="title">\[.*?\] </remove>
		</sanitize>
	</service>

	<service name="Fred Cavazza" lang="fr">
		<url type="rss">https://fredcavazza.net/feed/</url>
		<twitter_account>@fredcavazza</twitter_account>
		<twitter_mention>#fcavazza</twitter_mention>
		<text type="div" name="class" section="p">entry-content</text>
		<image type="div" name="class" section="img" attribute="src">entry-content</image>
		<tags type="span" name="class" section="a">tags-links</tags>
	</service>

	<service name="Petit web" lang="fr">
		<url type="rss">http://www.petitweb.fr/feed/</url>
		<twitter_account>@petitweb</twitter_account>
		<twitter_mention>#petitweb</twitter_mention>
		<text type="div" name="class" section="p">entry-content</text>
		<image type="div" name="class" section="img" attribute="data-lazy-src">thumbnail single-post-thumbnail section</image>
		<!--filters>
			<filter type="title">revue de web</filter>
		</filters-->
	</service>

	<service name="Motherboard Vice" lang="fr">
		<url type="rss">https://motherboard.vice.com/fr/rss</url>
		<twitter_account>@motherboard</twitter_account>
		<twitter_mention>#mboard</twitter_mention>
		<text type="div" name="class" section="p">article__body</text>
		<image type="div" name="class" section="img" attribute="src">long-form-article__lede-image</image>
		<image_alt type="div" name="class" section="img" attribute="src">short-form-article__body__content</image_alt>
		<tags type="div" name="class" section="a">topics topic-list</tags>
		<!--filters>
			<filter type="title">revue de web</filter>
		</filters-->
	</service>

	<service name="Zdnet" lang="fr">
		<url type="rss">http://www.zdnet.fr/feeds/rss/actualites/</url>
		<!--twitter_account>@zdnet</twitter_account-->
		<twitter_mention>#zdnet</twitter_mention>
		<text type="div" name="class" section="p">storyBody</text>
		<image type="div" name="class" section="img" attribute="src">storyBody</image>
		<!--filters>
			<filter type="title">revue de web</filter>
		</filters-->
	</service>

	<!--service name="Piwee" lang="fr">
			<url>http://piwee.net/feed/</url>
			<twitter_account>@piweeFR</twitter_account>
			<text type="div" name="class" section="p">post</text>
			<image type="div" name="class" section="img" attribute="src">post</image>
		</service-->

	<!-- To incorporate
	1 innovation par jour
	nextimpact
	wall street journal
	http://www.lemondeinformatique.fr/actualites/lire-hackerone-un-service-de-bug-bounty-gratuit-pour-les-projets-open-source-67547.html
	-->

	<!-- French Others -->

	<service name="Rue89 #planete" lang="fr">
		<url>http://tempsreel.nouvelobs.com/rue89/rue89-planete/rss.xml</url>
		<twitter_account>@rue89</twitter_account>
		<twitter_mention>#rue89</twitter_mention>
		<text type="section" name="class" section="p">obs-content</text>
		<image type="section" name="class" section="img" attribute="src">obs-content</image>
		<hashtags>
			<tag>planete</tag>
			<tag>rue89</tag>
		</hashtags>
	</service>

	<!-- English -->

	<!--
	https://www.ted.com/talks/rss
-->

	<service name="The Verge" lang="en">
		<url>http://www.theverge.com/rss/index.xml</url>
		<twitter_account>@verge</twitter_account>
		<twitter_mention>#theverge</twitter_mention>
		<text type="div" name="class" section="p">c-entry-content</text>
		<image type="picture" name="class" section="img" attribute="src">c-picture</image>
		<selection>
			<select type="div" value="c-entry-group-labels c-entry-group-labels--article" section="span">Tech</select>
			<select type="div" value="c-entry-group-labels c-entry-group-labels--article" section="span">Science</select>
			<select type="div" value="c-entry-group-labels c-entry-group-labels--article" section="span">Reviews</select>
		</selection>

	</service>

	<service name="The Hacker News" lang="en">
		<url>http://thehackernews.com/feeds/posts/default</url>
		<text type="div" name="class" section="div">articlebodyonly</text>
		<image type="div" name="class" section="img" attribute="src">articlebodyonly</image>
		<twitter_account>@TheHackersNews</twitter_account>
		<twitter_mention>#hackers</twitter_mention>
	</service>

	<service name="Motherboard Vice" lang="en">
		<url type="rss">https://motherboard.vice.com/en_us/rss</url>
		<twitter_account>@motherboard</twitter_account>
		<twitter_mention>#mboard</twitter_mention>
		<text type="div" name="class" section="p">article__body</text>
		<image type="div" name="class" section="img" attribute="src">long-form-article__lede-image</image>
		<image_alt type="div" name="class" section="img" attribute="src">short-form-article__body__content</image_alt>
		<tags type="div" name="class" section="a">topics topic-list</tags>
		<!--filters>
			<filter type="title">revue de web</filter>
		</filters-->
	</service>



	<!-- Todo : Spaces ?
http://thelongandshort.org/spaces/hot-desks-design-thinking-ideo
-->
	<!--service name="Long and Short" lang="en">
		<url>http://thelongandshort.org/feed.rss</url>
		<text type="div" name="class" section="div">o-article__body</text>
		<image type="div" name="class" section="img" attribute="src">o-article__body</image>
		<twitter_account>@longandshortmag</twitter_account>
		<twitter_mention>#longandshort</twitter_mention>
	</service-->

</data>
